{%- comment -%}
  Generic Megamenu for non-custom menu items
  
  Usage: {% render 'cvc-generic-megamenu', menu_item: menu_item %}
  
  Displays:
  - Simple dropdown for 1-3 child links
  - Full megamenu grid for 4+ child links
  - Supports 3 levels of nested menu items with indentation
{%- endcomment -%}

{% if menu_item.links.size > 0 %}
  <div class="cvc-megamenu">
    <div class="cvc-megamenu__container">
      
      {% if menu_item.links.size <= 3 %}
        {%- comment -%} Simple dropdown for 1-3 items {%- endcomment -%}
        <div class="cvc-megamenu__simple-list">
          {% for child_link in menu_item.links %}
            <div class="cvc-megamenu__simple-group">
              <a href="{{ child_link.url }}" class="cvc-megamenu__simple-link">
                {{ child_link.title }}
              </a>
              
              {%- comment -%} Level 2: Grandchildren with indentation {%- endcomment -%}
              {% if child_link.links.size > 0 %}
                {% for grandchild_link in child_link.links %}
                  <a href="{{ grandchild_link.url }}" class="cvc-megamenu__simple-link cvc-megamenu__simple-link--level2">
                    {{ grandchild_link.title }}
                  </a>
                  
                  {%- comment -%} Level 3: Great-grandchildren with more indentation {%- endcomment -%}
                  {% if grandchild_link.links.size > 0 %}
                    {% for great_grandchild_link in grandchild_link.links %}
                      <a href="{{ great_grandchild_link.url }}" class="cvc-megamenu__simple-link cvc-megamenu__simple-link--level3">
                        {{ great_grandchild_link.title }}
                      </a>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      
      {% else %}
        {%- comment -%} Full megamenu for 4+ items - 3 layer structure like Conversion Guides {%- endcomment -%}
        <div class="cvc-megamenu__phases">
          {% for child_link in menu_item.links %}
            <div class="cvc-phase-column">
              <h3 class="cvc-phase-column__title">
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              </h3>
              
              {%- comment -%} Level 2: Grandchild links displayed as list items {%- endcomment -%}
              {% if child_link.links.size > 0 %}
                <ul class="cvc-phase-column__links">
                  {% for grandchild_link in child_link.links %}
                    <li>
                      <a href="{{ grandchild_link.url }}">
                        {{ grandchild_link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
    </div>
  </div>
{% endif %}
